{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "printWidth": 100
}
