---
import getAllPageDocuments from '~/utils/getAllPageDocuments'
import getPageDocument from '~/utils/getPageDocument'
import DefaultLayout from '~/components/DefaultLayout.astro'
import type { Props as DefaultLayoutProps } from '~/components/DefaultLayout.astro'
import Slice from '~/components/Slice.astro'
import getHomeDocument from '~/utils/getHomeDocument'
import HorizontalScroll from '~/components/HorizontalScroll.astro'
import HomeItem from '~/components/HomeItem.astro'

export const getStaticPaths = async () => {
  const allPageDocuments = await getAllPageDocuments()
  return allPageDocuments.map(({ uid }) => ({ params: { id: uid } }))
}

const { data, uid } = await getPageDocument(Astro.params.id || '')
const homeData = await getHomeDocument()

const layoutProps: DefaultLayoutProps = {
  headerTitle: data.title || uid,
  background: data.background || homeData?.background || undefined,
  foreground: data.foreground || homeData?.foreground || undefined,
  metaTitle: data.meta_title || undefined,
  metaDescription: data.meta_description || undefined,
  metaImage: data.meta_image.url
    ? {
        url: data.meta_image.url,
        alt: data.meta_image.alt || undefined,
        ...data.meta_image.dimensions,
      }
    : undefined,
}

const pages = await getAllPageDocuments()
const getPageData = (pageId: string) => pages.find(({ id }) => id === pageId)

const paginationItems = homeData?.body
  // @ts-expect-error auto generated types is missing the id
  ?.flatMap(x => x.items.map(x => getPageData(x.items.id)))
  // @ts-expect-error auto generated types is missing the uid
  ?.filter(({ uid }) => uid !== Astro.params.id)
---

<DefaultLayout {...layoutProps}>
  <div class='page-content'>
    {data?.body.map(slice => <Slice {...slice} />)}
  </div>
  <div class='pagination-spacer'></div>
  <div class='pagination-wrapper'>
    <HorizontalScroll class='home-items'>
      {
        // @ts-expect-error possible mismatch on types
        paginationItems?.map(x => <HomeItem {...x} />)
      }
    </HorizontalScroll>
  </div>
</DefaultLayout>

<style is:global>
  .page-content {
    padding: 48px 0 64px;
  }

  @media (min-width: 720px) {
    .page-content {
      padding: 0;
    }

    .pagination-spacer {
      padding-top: 100vh;
    }

    .pagination-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
</style>
