---
import 'wipe.css'

import { createClient } from '~/prismic'
import { SingleImage } from '~/slices/index.astro'
import type { CollectionDocument } from '~/slices/types'
const client = createClient()
const collections = await client.getAllByType<CollectionDocument>('collection')
---

<html lang="en" data-js="false">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    {collections.map(({ data }) => (
      <>
        <h2>{data.name}</h2>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </>
    ))}
    <script>
      const switchDataJSAttribute = () => document.documentElement.setAttribute('data-js', 'true')
      window.addEventListener('load', switchDataJSAttribute)
    </script>
  </body>
</html>
