---
import { createClient } from '~/prismic'
import { SingleImage } from '~/slices/index.astro'
import type { CollectionDocument } from '~/slices/types'
import HorizontalSlice from '~/components/HorizontalSlice.astro'
import DefaultLayout from '~/components/DefaultLayout.astro'
const client = createClient()
const collections = await client.getAllByType<CollectionDocument>('collection')
---

<DefaultLayout>
  {collections.map(({ data }) => (
    <>
      <!-- <h2>{data.name}</h2> -->
      <HorizontalSlice>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </HorizontalSlice>
      <HorizontalSlice>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </HorizontalSlice>
    </>
  ))}
</DefaultLayout>