---
import getHomeDocument from '~/utils/getHomeDocument';
import getAllPageDocuments from '~/utils/getAllPageDocuments'
import DefaultLayout from '~/components/DefaultLayout.astro'
import HorizontalScroll from '~/components/HorizontalScroll.astro';
import HomeItem from '~/components/HomeItem.astro';

const { background, foreground } = await getHomeDocument() || {}
const pages = await getAllPageDocuments()

---
<DefaultLayout background={background} foreground={foreground}>
  <main class='home'>
    <HorizontalScroll>
      {pages.map(x => <HomeItem {...x}>1</HomeItem>)}
      {pages.map(x => <HomeItem {...x}>2</HomeItem>)}
      {pages.map(x => <HomeItem {...x}>3</HomeItem>)}
      {pages.map(x => <HomeItem {...x}>4</HomeItem>)}
    </HorizontalScroll>
  </main>
</DefaultLayout>

<style is:global>
  .home {
    padding-top: 64px;
    width: 100%;
  }

  @media (min-width: 720px) {
    .home {
      padding-top: 0;
    }
  }
</style>