---
import getAllPageDocuments from '~/utils/getAllPageDocuments'
import DefaultLayout from '~/components/DefaultLayout.astro'

const x = await getAllPageDocuments()
---
<DefaultLayout>
  {x.map(({uid}) => <div><a href={`/${uid}`}>{uid}</a> </div>)}
</DefaultLayout>
