---
import { createClient } from '~/prismic'
import { SingleImage } from '~/slices/index.astro'
import type { CollectionDocument } from '~/slices/types'
import HorizontalScroll from '~/components/HorizontalScroll.astro'
import DefaultLayout from '~/components/DefaultLayout.astro'
const client = createClient()
const collections = await client.getAllByType<CollectionDocument>('collection')
---

<DefaultLayout>
  {collections.map(({ data }) => (
    <>
      <!-- <h2>{data.name}</h2> -->
      <HorizontalScroll>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </HorizontalScroll>
      <HorizontalScroll>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </HorizontalScroll>
    </>
  ))}
</DefaultLayout>

<style global>
  html, body {
    overscroll-behavior: none;
  }
</style>