---
import 'wipe.css'

import { createClient } from '~/prismic'
import { SingleImage } from '~/slices/index.astro'
import type { CollectionDocument } from '~/slices/types'
const client = createClient()
const collections = await client.getAllByType<CollectionDocument>('collection')
---

<html lang="en" data-js="false">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    {collections.map(({ data }) => (
      <>
        <h2>{data.name}</h2>
        {data.slices.map(slice => <SingleImage slice={slice} />)}
      </>
    ))}
    <script lang="javascript">
      const addLoadedAttribute = (element) =>
        element.addEventListener('load', () => element.setAttribute('data-loaded', 'true'))

      const getAllImages = () => [...document.querySelectorAll('img[data-loaded="false"]')]
      const addLoadedAttributeToAllImg = () => getAllImages().forEach(addLoadedAttribute)

      const switchDataJSAttribute = () => document.documentElement.setAttribute('data-js', 'true')

      const onLoad = () => {
        addLoadedAttributeToAllImg()
        switchDataJSAttribute()
      }

      window.addEventListener('load', onLoad)
      onLoad()
    </script>
  </body>
</html>
