---
import getHomeDocument from '~/utils/getHomeDocument';
import getAllPageDocuments from '~/utils/getAllPageDocuments'
import DefaultLayout from '~/components/DefaultLayout.astro'

const { background, foreground } = await getHomeDocument() || {}
const pages = await getAllPageDocuments()

---
<DefaultLayout background={background} foreground={foreground}>
  <main class='home'>
    {pages.map(({uid, data}) => <a class='home-item' href={`/${uid}`}>{data.title || uid}</a>)}
  </main>
</DefaultLayout>

<style is:global>
  .home {
    padding-top: 64px;
    min-height: 100vh;
    width: 100%;
  }
  
  .home-item {
    display: block;
    position: relative;
    padding: 48px;
    font-size: 24px;
    background: var(--background);
    outline: none;
  }

  .home-item:hover {
    z-index: 1;
  }

  .home-item:before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: 0px;
    left: -1px;
    border-top: 1px solid var(--foreground);
    opacity: 0.1;
  }
  
  .home-item:last-of-type:before {
    border-bottom: 1px solid var(--foreground);
  }

  .home-item:hover:before {
    opacity: 0.25;
    border-bottom: 1px solid var(--foreground);
  }

  .home-item:hover + .home-item:before {
    border-top: none;
  }

  .home-item + .home-item {
    margin-left: 1px;
  }

  @media (min-width: 720px) {
    .home {
      overflow: auto;
      display: flex;
    }

    .home-item {
      width: 33.33vw;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .home-item:before {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      border-top: 1px solid var(--foreground);
      border-left: 1px solid var(--foreground);
      opacity: 0.1;
    }
    
    .home-item:last-of-type:before {
      border-right: 1px solid var(--foreground);
    }

    .home-item:hover:before {
      opacity: 0.25;
      border-right: 1px solid var(--foreground);
    }

    .home-item:hover + .home-item:before {
      border-top: 1px solid var(--foreground);
      border-left: none;
    }

    .home-item + .home-item {
      margin-left: 1px;
    }
  }
</style>