---
import Logo from "~/components/Logo.astro";

export type Props = { title?: string | null }
const props = Astro.props as Props
const { title } = props
---

<header class='header'>
  <a href="/" class='header-logo' aria-label='index'>
    <Logo />
  </a>
  {title && (
    <div class='header-title'>
      <div class='header-title-text'>{title}</div>
    </div>
  )}
</header>

<style is:global>
  @keyframes header-logo-rotate {
    to {
      transform: rotate(-72deg);
    }
  }

  .header {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    pointer-events: none;
    align-items: center;
    z-index: 2;
    mix-blend-mode: difference;
    color: white;
  }

  .header-logo {
    margin: 18px;
    width: 24px;
    height: 24px;
    color: currentColor;
    pointer-events: auto;
    outline: none;
  }

  .header-logo:hover,
  .header-logo:focus {
    animation: 0.25s header-logo-rotate forwards;
  }

  .header-title {
    pointer-events: auto;
    line-height: 24px;
  }
  
  .header-title-text {
    line-height: 24px;
  }
</style>