---
import PageMap from '~/components/PageMap.astro'
---

<PageMap>
  <div class="horizontal-scroll-wrapper">
    <div class="horizontal-scroll-middle">
      <div class="horizontal-scroll-inner" data-map="container">
        <div class="horizontal-scroll-spacer"></div>
        <slot />
        <div class="horizontal-scroll-spacer"></div>
      </div>
    </div>
  </div>
</PageMap>

<script src="./HorizontalScroll.ts"></script>

<style is:global>
  @media (min-width: 720px) {
    .horizontal-scroll-wrapper {
      position: relative;
    }

    .horizontal-scroll-middle {
      position: relative;
      z-index: 1;
      pointer-events: none;
    }

    .horizontal-scroll-inner {
      overflow-x: hidden;
      display: flex;
      position: sticky;
      top: 0;
    }

    .horizontal-scroll-spacer {
      display: block;
      position: relative;
      min-width: 44px;
    }
  }
</style>
