---
export type Props = { map?: boolean }
const { map } = Astro.props
---

<script src='./HorizontalScroll.ts'></script>

<div class='horizontal-scroll-wrapper'>
  <div class='horizontal-scroll-middle'>
    <div class='horizontal-scroll-inner' data-map='container'>
      <div class='horizontal-scroll-spacer'></div>
      <slot />
      <div class='horizontal-scroll-spacer'></div>
    </div>
  </div>
  {map && (
    <div class='horizontal-scroll-map-wrapper'>
      <canvas class='horizontal-scroll-map-canvas'></canvas>
      <div class='horizontal-scroll-map-brush-left'></div>
      <div class='horizontal-scroll-map-brush-right'></div>
    </div>
  )}
</div>

<style is:global>
  .horizontal-scroll-map-wrapper {
    display: none;
  }

  .horizontal-scroll-inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  .horizontal-scroll-spacer {
    display: none;
  }
  
  @media (min-width: 720px) {
    .horizontal-scroll-wrapper {
      position: relative;
      padding: 0;
    }

    .horizontal-scroll-middle {
      position: relative;
      z-index: 1;
      pointer-events: none;
    }

    .horizontal-scroll-inner {
      flex-wrap: nowrap;
      gap: 0;
      overflow-x: hidden;
      position: sticky;
      top: 0;
    }

    .horizontal-scroll-spacer {
      display: block;
      position: relative;
    }

    .page-map-wrapper {
      position: relative;
    }

    .horizontal-scroll-map-wrapper {
      display: block;
      position: sticky;
      bottom: 0;
      height: 0;
      width: 100%;
      transition: 0.3s opacity;
    }

    .horizontal-scroll-map-canvas {
      position: absolute;
      bottom: 0;
      height: 64px;
      width: 100%;
    }
    .horizontal-scroll-wrapper[data-sticky='false'] .horizontal-scroll-map-wrapper {
      pointer-events: none;
      opacity: 0;
      transition: 0.15s opacity;
    }
    .horizontal-scroll-wrapper[data-sticky='true'] .horizontal-scroll-map-wrapper {
      pointer-events: auto;
      opacity: 1;
    }

    .horizontal-scroll-map-brush-left,
    .horizontal-scroll-map-brush-right {
      position: absolute;
      bottom: 0;
      height: 64px;
      width: calc(100% - 128px);
      background: var(--background, #fff);
      transform-origin: left;
      left: 64px;
      opacity: 0.8;
    }
    .horizontal-scroll-map-brush-right {
      transform-origin: right;
    }
  }
</style>
