---
import Section from '~/components/Section.astro'
import Image from '~/components/Image.astro'
import { PageDocumentDataBodyHorizontalSlice } from '~/prismic.generated'
import HorizontalScroll from './HorizontalScroll.astro'
export type Props = PageDocumentDataBodyHorizontalSlice
const props = Astro.props as Props
const { items, primary } = props
---

<Section class='horizontal-slice' foreground={primary.foreground} background={primary.background} renderBackground={true}>
  <HorizontalScroll map>
    {items.map(({ image }) => image ? <Image {...image} /> : null )}
  </HorizontalScroll>
</Section>

<style is:global>
  .horizontal-slice .horizontal-scroll-wrapper {
    padding: 4vw 2vw;
  }

  .horizontal-slice .horizontal-scroll-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
  }
  
  .horizontal-slice .horizontal-scroll-wrapper .image-wrapper[data-format="landscape"] {
    flex-grow: 2;
  }
  
  .horizontal-slice .horizontal-scroll-wrapper .image-wrapper[data-format="portrait"] {
    flex-basis: calc(50% - 2vw);
    flex-grow: 1;
  }

  @media (min-width: 720px) {
    .horizontal-slice .horizontal-scroll-wrapper {
      padding: 0;
    }

    .horizontal-slice .horizontal-scroll-middle {
      position: relative;
      z-index: 1;
      pointer-events: none;
    }

    .horizontal-slice .horizontal-scroll-inner {
      flex-wrap: nowrap;
      gap: 0;
      overflow-x: hidden;
      position: sticky;
    }

    .horizontal-slice .horizontal-scroll-spacer {
      min-width: 44px;
    }

    .horizontal-slice .horizontal-scroll-wrapper .image-wrapper {
      margin: 0 20px;
      flex: auto;
      flex-basis: auto;
    }
  }
</style>
