<div class="page-map-wrapper">
  <slot />
  <div class="page-map-canvas-wrapper">
    <canvas class="page-map-canvas"></canvas>
    <div class="page-map-brush-left"></div>
    <div class="page-map-brush-right"></div>
  </div>
</div>

<script src="./PageMap.ts"></script>

<style is:global>
  .page-map-canvas-wrapper {
    display: none;
  }
  @media (min-width: 720px) {
    .page-map-wrapper {
      position: relative;
    }

    .page-map-canvas-wrapper {
      display: block;
      position: sticky;
      bottom: 0;
      height: 0;
      width: 100%;
      transition: 0.3s opacity;
    }

    .page-map-canvas {
      position: absolute;
      bottom: 0;
      height: 64px;
      width: 100%;
    }
    .horizontal-scroll-wrapper[data-sticky='false'] ~ .page-map-canvas-wrapper {
      pointer-events: none;
      opacity: 0;
      transition: 0.15s opacity;
    }
    .horizontal-scroll-wrapper[data-sticky='true'] ~ .page-map-canvas-wrapper {
      pointer-events: auto;
      opacity: 1;
    }

    .page-map-brush-left,
    .page-map-brush-right {
      position: absolute;
      bottom: 0;
      height: 64px;
      width: calc(100% - 128px);
      background: #fff;
      transform-origin: left;
      left: 64px;
      opacity: 0.8;
    }
    .page-map-brush-right {
      transform-origin: right;
    }
  }
</style>
