---
import type { Colors } from '~/types'
import generateCssVariables from '~/utils/generateCssVariables'
export type Props = Colors & {
  renderBackground?: boolean
  class?: string
}
const { renderBackground, foreground, background, ...props } = Astro.props as Props

const renderBackgroundString = (renderBackground || false)?.toString()
const style = generateCssVariables({ background, foreground })
---

<section
  class={['section', props.class].filter(Boolean).join(' ')}
  style={style}
  data-render-background={renderBackgroundString}
>
  <slot />
</section>

<style is:global>
  .section {
    color: var(--foreground);
  }
  .section[data-render-background='true'] {
    background-color: var(--background);
  }
</style>
